- name: Disable IPv6
  sysctl:
    name: "{{ item }}"
    value: "1"
    state: present
    reload: yes
  loop:
    - net.ipv6.conf.all.disable_ipv6
    - net.ipv6.conf.default.disable_ipv6

- name: Set DNS to Google
  lineinfile:
    path: /etc/systemd/resolved.conf
    regexp: '^#?DNS='
    line: 'DNS=8.8.8.8'

- name: Restart systemd-resolved
  service:
    name: systemd-resolved
    state: restarted

- name: Create node_exporter user
  user:
    name: node_exporter
    shell: /sbin/nologin
    system: yes

- name: Download node_exporter
  get_url:
    url: "{{ node_exporter_url }}"
    dest: /tmp/node_exporter.tar.gz
    mode: '0644'
    timeout: 60

- name: Extract node_exporter
  unarchive:
    src: /tmp/node_exporter.tar.gz
    dest: /tmp
    remote_src: yes

- name: Move node_exporter binary
  copy:
    src: "/tmp/node_exporter-{{ node_exporter_version }}.{{ node_exporter_arch }}/node_exporter"
    dest: /usr/local/bin/node_exporter
    owner: node_exporter
    group: node_exporter
    mode: '0755'
    remote_src: yes

# - name: Create systemd service file
#   copy:
#     dest: /etc/systemd/system/node_exporter.service
#     content: |
#       [Unit]
#       Description=Prometheus Node Exporter
#       After=network.target

#       [Service]
#       User=node_exporter
#       Group=node_exporter
#       Type=simple
#       ExecStart=/usr/local/bin/node_exporter

#       [Install]
#       WantedBy=multi-user.target

# - name: Reload systemd
#   systemd:
#     daemon_reload: yes

# - name: Enable and start node_exporter
#   systemd:
#     name: node_exporter
#     enabled: yes
#     state: started

- name: Create docker app-network
  become: true
  docker_network:
    name: app-network
    state: present

- name: Pull monitoring images
  docker_image:
    name: "{{ item }}"
    source: pull
  loop:
    - grafana/grafana:latest
    - prom/node-exporter:latest
    - prom/prometheus:latest
    - prom/alertmanager:latest
    - prom/mysqld-exporter:latest
  register: pull_results
  retries: 5
  delay: 60
  until: pull_results is succeeded

- name: Docker compose up monitoring stack
  community.docker.docker_compose_v2:
    project_src: /home/ansible/int531-monitoring-tools
    files:
      - monitoring.compose.yml
    state: present
