- name: Deploy application using Docker Compose
  hosts: app
  become: true


  vars:
  app_dir: /home/ansible/int531-monitoring-tools
  repo_branch: main

  tasks:
    - name: Docker compose up
      shell: docker compose -f docker-compose.yml up -d
      args:
      chdir: "{{ app_dir }}"