- name: Login to Docker Hub
  community.docker.docker_login:
    username: "{{ lookup('env','DOCKERHUB_USERNAME') }}"
    password: "{{ lookup('env','DOCKERHUB_PASSWORD') }}"

- name: Docker compose up web app
  shell: docker compose -f docker-compose.yml up -d
  args:
    chdir: /home/ansible/int531-monitoring-tools
