- name: Deploy application using Docker Compose
  hosts: app
  become: true


  vars:
  app_dir: /home/ansible/myapp
  repo_url: https://github.com/USERNAME/REPO.git
  repo_branch: main


  tasks:
    - name: Install required packages
      apt:
      name:
        - ca-certificates
        - curl
        - gnupg
        - lsb-release
        - git
      state: present
      update_cache: yes


    - name: Install Docker
      shell: |
      curl -fsSL https://get.docker.com | sh
      args:
      creates: /usr/bin/docker


    - name: Enable and start Docker
      systemd:
      name: docker
      enabled: yes
      state: started


    - name: Install Docker Compose plugin
      apt:
      name: docker-compose-plugin
      state: present


    - name: Create application directory
      file:
      path: "{{ app_dir }}"
      state: directory
      mode: '0755'


    - name: Clone GitHub repository
      git:
      repo: "{{ repo_url }}"
      dest: "{{ app_dir }}"
      version: "{{ repo_branch }}"
      force: yes


    - name: Docker compose up
      shell: docker compose up -d
      args:
      chdir: "{{ app_dir }}"