- name: Update apt cache
  apt:
    update_cache: yes

- name: Install Docker Engine (apt version)
  apt:
    name: docker.io
    state: present

- name: Install Docker Compose v2
  apt:
    name: docker-compose-v2
    state: present

- name: Install git
  become: true
  apt:
    name: git
    state: present
    update_cache: yes

- name: Add 10.13.104.61 to known_hosts
  known_hosts:
    name: "10.13.104.61"
    key: "{{ lookup('pipe', 'ssh-keyscan -H 10.13.104.61') }}"
    path: "/root/.ssh/known_hosts"

- name: Make sure a service unit is running
  ansible.builtin.systemd_service:
    state: started
    name: docker
