- name: Install qemu guest agent
  apt:
    name: qemu-guest-agent
    state: present
    update_cache: yes

- name: Enable and start qemu guest agent
  systemd:
    name: qemu-guest-agent
    enabled: true
    state: started

- name: Update apt cache
  apt:
    update_cache: yes

- name: Wait for apt lock to be released
  become: true
  shell: |
    while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do
      sleep 5
    done
  args:
    executable: /bin/bash

- name: Install Docker Engine (apt version)
  apt:
    name: docker.io
    state: present

- name: Install Docker Compose v2
  apt:
    name: docker-compose-v2
    state: present

- name: Install git
  become: true
  apt:
    name: git
    state: present
    update_cache: yes

- name: Clone monitoring tools repository
  become: true
  git:
    repo: https://github.com/GkG0139/int531-monitoring-tools.git
    dest: /home/ansible/int531-monitoring-tools
    version: main
    update: yes

- name: Make sure a service unit is running
  ansible.builtin.systemd_service:
    state: started
    name: docker
