- name: Update apt cache
  apt:
    update_cache: yes

- name: Wait for apt lock to be released
  become: true
  shell: |
    while fuser /var/lib/dpkg/lock-frontend >/dev/null 2>&1; do
      sleep 5
    done
  args:
    executable: /bin/bash

- name: Install Docker Engine (apt version)
  apt:
    name: docker.io
    state: present

- name: Install Docker Compose v2
  apt:
    name: docker-compose-v2
    state: present

- name: Install git
  become: true
  apt:
    name: git
    state: present
    update_cache: yes

- name: Add 10.13.104.61 to known_hosts
  known_hosts:
    name: "10.13.104.61"
    key: "{{ lookup('pipe', 'ssh-keyscan -H 10.13.104.61') }}"
    path: "/root/.ssh/known_hosts"

- name: Clone monitoring tools repository
  become: true
  git:
    repo: https://github.com/GkG0139/int531-monitoring-tools.git
    dest: /home/ansible/int531-monitoring-tools
    version: fixNetwork
    update: yes

- name: Make sure a service unit is running
  ansible.builtin.systemd_service:
    state: started
    name: docker
